<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>複数人タスク管理アプリ</h1>
    <div class="container" id="todo">
      <h2>タスクの追加</h2>
      <section class="panel">
        <label>タスク名<input type="text" v-model="inputTask"/></label>
        <label>担当者<input type="text" v-model="inputName"/></label>
        <label>期日<input type="date" v-model="inputDate"/></label>
        <button @click="addTodo">追加</button>
      </section>
      <h2>タスク一覧</h2>
      <label
        >担当者
        <form>
          <select v-model="selectedName">
            <option>すべて</option>
            <option v-for="name in nameList" :name="name">
              {{ name }}
            </option>
          </select>
        </form></label
      >
      <label
        >ステータス
        <form>
          <select v-model="selectedStatus">
            <option>すべて</option>
            <option v-for="status in statusList" :name="status">
              {{ status }}
            </option>
          </select>
        </form></label
      >
      <span>残タスク{{ remaining.length }}件/全{{ totalTask.length }}件</span>

      <button @click="removeDoneTodo">
        Doneタスクを削除する
      </button>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>ステータス</th>
            <th>タスク名</th>
            <th>担当</th>
            <th>期限</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(todo, index) in todoList"
            v-if="(todo.name === selectedName || selectedName === 'すべて') && (todo.status === selectedStatus || selectedStatus == 'すべて')"
          >
            <td>{{ todo.id }}</td>
            <td>
              <form>
                <select v-model="todo.status">
                  <option v-for="status in statusList">
                    {{ status }}
                  </option>
                </select>
              </form>
            </td>
            <td>{{ todo.task }}</td>
            <td>
              <form>
                <select v-model="todo.name">
                  <option v-for="name in nameList">
                    {{ name }}
                  </option>
                </select>
              </form>
            </td>
            <td>{{ todo.date }}</td>
            <td>
              <button @click="removeTodo(todo.id)">
                削除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="todo.js"></script>
  </body>
</html>
